Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-10, with the labels that each got.

#349 Updated GH templates
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: housekeeping

#350 Fixed all analyzer warnings
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackbarView.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackbarView.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackbarView.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.tizen.cs
  XamarinCommunityToolkit/Actions/Snackbar/SnackbarArguments.shared.cs
  XamarinCommunityToolkit/Behaviors/ImpliedOrderGridBehavior.shared.cs
  XamarinCommunityToolkit/Converters/DateTimeOffsetConverter.shared.cs
  XamarinCommunityToolkit/Helpers/WeakEventManager.shared.cs
  XamarinCommunityToolkit/Views/AvatarView.shared.cs
  XamarinCommunityToolkit/Views/BaseTemplatedView.shared.cs
  XamarinCommunityToolkitSample.Android/Properties/AssemblyInfo.cs
  XamarinCommunityToolkitSample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  XamarinCommunityToolkitSample.iOS/AppDelegate.cs
  XamarinCommunityToolkitSample.iOS/Properties/AssemblyInfo.cs
  XamarinCommunityToolkitSample.iOS/Renderers/NoLineNavigationRenderer.cs
  XamarinCommunityToolkitSample/AssemblyInfo.cs
  XamarinCommunityToolkitSample/Models/Language.cs
  XamarinCommunityToolkitSample/Models/SectionModel.cs
  XamarinCommunityToolkitSample/Pages/Base/BaseNavigationPage.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/ImpliedOrderGridBehaviorLabel.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/MultiValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/UriValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Converters/MultiConverterPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/ExpanderPage.xaml.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/EventToCommandBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/UserStoppedTypingBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ByteArrayToImageSourceViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/DateTimeOffsetConverterViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/MultiConverterViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/SettingViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/AvatarViewViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/WelcomeViewModel.cs
Labels: housekeeping

#351 Moved Snackbar to right namespace
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.shared.cs
  XamarinCommunityToolkit/Extensions/PageExtension.shared.cs
  XamarinCommunityToolkit/Views/Snackbar/ActionArguments.shared.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/SnackbarLayout.ios.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/iOS/Extensions/UIViewExtensions.ios.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/iOS/IOSSnackBar.ios.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarAppearance.ios.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackbarView.ios.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/BaseSnackbarView.ios.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackbarView.ios.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/macOS/MacOSSnackBar.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarAppearance.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/ActionMessageSnackbarView.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/BaseSnackbarView.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackbarView.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Snackbar.android.cs
  XamarinCommunityToolkit/Views/Snackbar/Snackbar.ios.macos.cs
  XamarinCommunityToolkit/Views/Snackbar/Snackbar.tizen.cs
  XamarinCommunityToolkit/Views/Snackbar/Snackbar.uwp.cs
  XamarinCommunityToolkit/Views/Snackbar/Snackbar.wpf.cs
  XamarinCommunityToolkit/Views/Snackbar/SnackbarArguments.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/ActionsPage.xaml
Labels: a/Snackbar, api-change :rotating_light:, housekeeping

#372 Added ObservableObject from MVVM Helpers
  XamarinCommunityToolkit.UnitTests/ObjectModel/ObservableObject_Tests.cs
  XamarinCommunityToolkit/ObjectModel/ObservableObject.shared.cs
  XamarinCommunityToolkitSample/ViewModels/AboutViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Base/BaseViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/EventToCommandBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/UserStoppedTypingBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ByteArrayToImageSourceViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/DateTimeOffsetConverterViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/MultiConverterViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/SettingViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ExpanderViewModel.cs
Labels: a/mvvm

#346 Fixed ShutterCommand
  XamarinCommunityToolkit.UnitTests/Views/CameraView_Tests.cs
  XamarinCommunityToolkit/Views/CameraView/CameraView.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml
  XamarinCommunityToolkitSample/Xamarin.CommunityToolkit.Sample.csproj
Labels: a/CameraView :camera_flash:

#339 MediaElement
  XamarinCommunityToolkit.UnitTests/Views/MediaElement_Tests.cs
  XamarinCommunityToolkit.UnitTests/Views/MediaSource_Tests.cs
  XamarinCommunityToolkit/Views/MediaElement/Android/FormsVideoView.android.cs
  XamarinCommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
  XamarinCommunityToolkit/Views/MediaElement/FileMediaSource.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/FileMediaSourceConverter.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/MediaElement.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/MediaElementState.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/MediaSource.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/MediaSourceConverter.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/UWP/AspectExtensions.uwp.cs
  XamarinCommunityToolkit/Views/MediaElement/UWP/MediaElementRenderer.uwp.cs
  XamarinCommunityToolkit/Views/MediaElement/UriMediaSource.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/UriTypeConverter.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  XamarinCommunityToolkitSample/Pages/Views/MediaElementPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/MediaElementPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/GravatarImageViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: UWP, a/MediaElement, a/views, p/android, p/iOS

#381 MediaElement bindable Position property (#330)
  XamarinCommunityToolkit/Converters/TimeSpanToDoubleConverter.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
  XamarinCommunityToolkit/Views/MediaElement/MediaElement.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
  XamarinCommunityToolkitSample/Pages/Views/MediaElementPage.xaml
Labels: a/MediaElement, api-change :rotating_light:

#389 User stopped typing behavior extend with minimum text length property
  XamarinCommunityToolkit.UnitTests/Behaviors/UserStoppedTypingBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/UserStoppedTypingBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/UserStoppedTypingBehaviorPage.xaml
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
Labels: a/behaviors, api-change :rotating_light:, ready-to-merge

#394 Fixes Impossible to move a slider that binds to MediaElement.Volume
  XamarinCommunityToolkit/Views/MediaElement/MediaElement.shared.cs
  XamarinCommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: a/MediaElement, bug

#431 Don't overwrite margin when detaching safe area effect if the effect was not applied
  XamarinCommunityToolkit/Effects/SafeAreaEffect.shared.cs
  XamarinCommunityToolkit/Effects/SafeAreaEffectRouter.ios.cs
  XamarinCommunityToolkit/Effects/SafeAreaEffectRouter.shared.cs
Labels: a/effects

#435 Added ColorTheme Property To AvatarView
  XamarinCommunityToolkit/Views/AvatarView/AvatarView.shared.cs
  XamarinCommunityToolkit/Views/AvatarView/ColorTheme.shared.cs
  XamarinCommunityToolkit/Views/AvatarView/IColorTheme.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml
Labels: a/AvatarView, api-change :rotating_light:

#189 Add confirm password behavior
  XamarinCommunityToolkit.UnitTests/Behaviors/RequiredStringValidationBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/RequiredStringValidationBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/RequiredStringValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/RequiredStringValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
Labels: a/behaviors, api-change :rotating_light:

#449 Fix #286 Prevent extra iOS camera inits
  XamarinCommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: a/CameraView :camera_flash:, bug

#455 Fix SafeAreaEffect
  XamarinCommunityToolkit/Effects/SafeAreaEffectRouter.shared.cs
  XamarinCommunityToolkitSample/Pages/Effects/SafeAreaEffectPage.xaml
  XamarinCommunityToolkitSample/Pages/Effects/SafeAreaEffectPage.xaml.cs
Labels: a/Linker, a/effects, p/iOS

#443 Fix AvatarView #441, #442
  XamarinCommunityToolkit/Views/AvatarView/AvatarView.shared.cs
  XamarinCommunityToolkit/Views/AvatarView/IImageSourceValidator.shared.cs
  XamarinCommunityToolkit/Views/AvatarView/ImageSourceValidator.android.ios.macos.uwp.wpf.gtk.tizen.cs
  XamarinCommunityToolkit/Views/AvatarView/ImageSourceValidator.shared.cs
Labels: a/AvatarView

#447 Added Converters
  XamarinCommunityToolkit.UnitTests/Converters/StringToDoubleConverter_tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/StringToIntConverter_tests.cs
  XamarinCommunityToolkit/Converters/StringToDoubleConverter.shared.cs
  XamarinCommunityToolkit/Converters/StringToIntConverter.shared.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/converters

#392 Remove and dispose observer
  XamarinCommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
  XamarinCommunityToolkitSample.iOS/Info.plist
Labels: DO-NOT-MERGE, a/MediaElement, bug, p/iOS

#451 Max length reached behavior
  XamarinCommunityToolkit.UnitTests/Behaviors/MaxLengthReachedBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/MaxLengthReachedBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/MaxLengthReachedEventArgs.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/MaxLengthReachedBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/MaxLengthReachedBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/MaxLengthReachedBehaviorViewModel.cs
  XamarinCommunityToolkitSample/Xamarin.CommunityToolkit.Sample.csproj
Labels: a/behaviors, api-change :rotating_light:

#363 Added TextCharactersValidationBehavior
  XamarinCommunityToolkit.UnitTests/Behaviors/CharactersValidationBehavior_Tests.cs
  XamarinCommunityToolkit.UnitTests/Behaviors/NumericValidationBehavior_Tests.cs
  XamarinCommunityToolkit.UnitTests/Behaviors/UriValidationBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/Validators/CharacterType.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/CharactersValidationBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml.cs
Labels: a/behaviors, a/validation, api-change :rotating_light:

#481 Tizen sample added
  XamarinCommunityToolkit/Views/AvatarView/ImageSourceValidator.android.ios.macos.uwp.wpf.gtk.tizen.cs
  XamarinCommunityToolkitSample.Tizen/Main.cs
  XamarinCommunityToolkitSample.Tizen/Xamarin.CommunityToolkit.Sample.Tizen.csproj
  XamarinCommunityToolkitSample.Tizen/res/help.png
  XamarinCommunityToolkitSample.Tizen/res/info.png
  XamarinCommunityToolkitSample.Tizen/res/tab_about.png
  XamarinCommunityToolkitSample.Tizen/res/tab_feed.png
  XamarinCommunityToolkitSample.Tizen/res/xamarin_logo.png
  XamarinCommunityToolkitSample.Tizen/res/xamarinstore.jpg
  XamarinCommunityToolkitSample.Tizen/shared/res/ic_splash.png
  XamarinCommunityToolkitSample.Tizen/tizen-manifest.xml
  XamarinCommunityToolkitSample.sln
Labels: a/sample-app, p/Tizen

#478 #302 Camera resolution issue fixed
  XamarinCommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
Labels: a/CameraView :camera_flash:, bug, p/android

#338 Shield
  XamarinCommunityToolkit/Views/Shield.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/ShieldPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ShieldPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: UWP, a/Shield :shield:, a/views, p/android, p/iOS

#337 BadgeView
  XamarinCommunityToolkit/Views/BadgeView/BadgeAnimation.shared.cs
  XamarinCommunityToolkit/Views/BadgeView/BadgePosition.shared.cs
  XamarinCommunityToolkit/Views/BadgeView/BadgeView.shared.cs
  XamarinCommunityToolkit/Views/BadgeView/IBadgeAnimation.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/BadgeViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/BadgeViewPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/BadgeViewViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: UWP, a/BadgeView, a/views, p/android, p/iOS

#487 Removes internationalization through the app
  XamarinCommunityToolkitSample/Pages/AboutPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/AnimationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EventToCommandBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/ImpliedOrderGridBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/MaskedBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/MaxLengthReachedBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/MultiValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/NumericValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/RequiredStringValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/UriValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/UserStoppedTypingBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ItemSelectedEventArgsPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ItemTappedEventArgsPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/MultiConverterPage.xaml
  XamarinCommunityToolkitSample/Pages/Effects/SafeAreaEffectPage.xaml
  XamarinCommunityToolkitSample/Pages/SettingPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ActionsPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/ExpanderPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/GravatarImagePage.xaml
  XamarinCommunityToolkitSample/Pages/Views/RangeSliderPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/SnackBarPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/SnackBarPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/AboutViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/MaxLengthReachedBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/UserStoppedTypingBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ItemSelectedEventArgsViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ItemTappedEventArgsViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Effects/EffectsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/SettingViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/WelcomeViewModel.cs
Labels: a/i18n :globe_with_meridians:, a/sample-app, housekeeping

#491 Extend Shield view with FontSize, FontFamily and FontAttributes properties
  XamarinCommunityToolkit/Views/Shield.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/ShieldPage.xaml
Labels: a/Shield :shield:, api-change :rotating_light:

#495 Sample app: Implemented filter for gallery pages
  XamarinCommunityToolkitSample/App.xaml
  XamarinCommunityToolkitSample/ViewModels/Base/BaseGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Effects/EffectsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: housekeeping

#494 Remove Int and Double Converters
  XamarinCommunityToolkit.UnitTests/Converters/StringToDoubleConverter_tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/StringToIntConverter_tests.cs
  XamarinCommunityToolkit/Converters/StringToDoubleConverter.shared.cs
  XamarinCommunityToolkit/Converters/StringToIntConverter.shared.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/converters, api-change :rotating_light:

#506 CameraView ShutterCommand Add Preserve Attribute
  XamarinCommunityToolkit/Views/CameraView/CameraView.shared.cs
Labels: a/CameraView :camera_flash:, a/Linker, bug

#515 Fixes AvatarView Source property binding
  XamarinCommunityToolkit/Views/AvatarView/AvatarView.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml
Labels: a/AvatarView, a/views
