Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-12, with the labels that each got.

#432 DockLayout
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/DockLayoutPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/DockLayoutPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DockLayout/Dock.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DockLayout/DockLayout.shared.cs
Labels: a/views

#631 Fixes CameraView iOS simulator NullReferenceException
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: a/CameraView :camera_flash:, p/iOS

#632 Try to fix iOS camera view crash on Dispose
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: a/CameraView :camera_flash:, p/iOS

#654 Fixes BadgeView BadgeIndicatorContainer is visible if the Text property is 0 at the start
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgeView.shared.cs
Labels: a/BadgeView

#651 Fixed fatal error on media element
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: a/MediaElement, bug

#656 Fixes "MediaElement with IsLooping="True" restarting all videos"
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: a/MediaElement, p/iOS

#627 Snackbar Font
  README.md
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/MainActivity.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.GTK/Xamarin.CommunityToolkit.Sample.GTK.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.GTK/app.config
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/AssemblyInfo.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Fonts/Font Awesome 5 Free-Regular-400.otf
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/SnackBarPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/NativeSnackButton.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/SnackBarLayout.uwp.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/IOSSnackBar.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackBarAppearance.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/BaseSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/MacOSSnackBar.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackBarAppearance.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/ActionMessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/BaseSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/MessageOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/SnackBarActionOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.uwp.cs
Labels: a/Snackbar, bug

#629 CameraView Rename CameraCaptureOptions and remove SavePhotoToFile
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/CameraViewPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/CameraViewPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Views/CameraView_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraViewRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/CameraCaptureOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/CameraView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/MediaCapturedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/UWP/CameraViewRenderer.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/CameraViewRenderer.ios.cs
Labels: a/CameraView :camera_flash:, api-change :rotating_light:

#662 Project cleanup
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/RequiredStringValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/MediaCapturedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuViewRenderer.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/UniformGrid.shared.cs
Labels: housekeeping

#664 Bump Forms 5 dependency to pre-5
  Xamarin.CommunityToolkit.MarkupSample.sln
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.GTK/Xamarin.CommunityToolkit.Sample.GTK.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.WPF/Xamarin.CommunityToolkit.Sample.WPF.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.iOS/Xamarin.CommunityToolkit.Sample.iOS.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
  src/Markup/Xamarin.CommunityToolkit.Markup/Xamarin.CommunityToolkit.Markup.csproj
  src/Markup/Xamarin.CommunityToolkit.MarkupSample.UWP/Xamarin.CommunityToolkit.MarkupSample.UWP.csproj
  src/Markup/Xamarin.CommunityToolkit.MarkupSample.iOS/Xamarin.CommunityToolkit.MarkupSample.iOS.csproj
  src/Markup/Xamarin.CommunityToolkit.MarkupSample/SearchViewModel.cs
  src/Markup/Xamarin.CommunityToolkit.MarkupSample/Xamarin.CommunityToolkit.MarkupSample.csproj
Labels: housekeeping

#661 Fixes Updating TabItemsSource Binding doesnt properly reset the TabStrip (#659)
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/TabView/TabItemsSourcePage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView, bug

#668 [Android] Make TouchEffect working with Images
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Effects/TouchEffectPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
Labels: a/TouchEffect, p/android

#667 Android MediaElement Aspect and Metadata fixes
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/Properties/AndroidManifest.xml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/MediaElementPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/FormsVideoView.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
Labels: a/MediaElement, p/android

#652 Add more BadgeView samples about BadgePosition
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/BadgeViewPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgeView.shared.cs
Labels: a/BadgeView, a/sample-app

#673 [Android] MediaElement Volume is only taken into account when set after Media has been started
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
Labels: a/MediaElement, p/android

#676 [Bug] null-ing MediaElement.Source has no effect
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/Properties/AndroidManifest.xml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/MediaElementPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/MediaElementPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/UWP/MediaElementRenderer.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: UWP, a/MediaElement, p/android, p/iOS

#681 Ignore Opacity for Android MediaElement
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
Labels: a/MediaElement, p/android

#683 Add ignore attribute to PreserveAttribute file
  src/CommunityToolkit/Xamarin.CommunityToolkit/build/PreserveXamarinCommunityToolkit.cs
Labels: housekeeping

#682 Update azure-pipelines.yml
  SignList.xml
  azure-pipelines.yml
Labels: buildchain, housekeeping

#695 Fixed: Data type conversion error at line 50
  README.md
Labels: a/documentation

#700 Fix TouchEffect + Button.Command
  samples/XCT.Sample/Pages/TestCases/TestCasesGalleryPage.xaml
  samples/XCT.Sample/Pages/TestCases/TouchEffectButtonPage.xaml
  samples/XCT.Sample/Pages/TestCases/TouchEffectButtonPage.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
Labels: a/TouchEffect
