Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-11, with the labels that each got.

#524 Enable code coverage on tests
  azure-pipelines.yml
Labels: buildchain, housekeeping

#532 Added TabStripBorderColor property to TabView
  XamarinCommunityToolkit/Views/TabView/TabView.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/TabView/GettingStartedPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/TabView/TabPlacementPage.xaml
Labels: a/TabView, api-change :rotating_light:

#533 Tabview Fixes
  XamarinCommunityToolkit/Effects/VisualFeedback/VisualFeedbackEffectRouter.ios.cs
  XamarinCommunityToolkit/Views/TabView/TabView.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/TabView/CustomTabsPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/TabView/GettingStartedPage.xaml
Labels: a/TabView

#541 Prevent linker to remove OnTriggerHandled method
  XamarinCommunityToolkit/Behaviors/EventToCommandBehavior.shared.cs
Labels: a/Linker

#542 Update TabView behavior using Xamarin.Forms 5.0
  XamarinCommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView

#544 Fixed TabIndicator position update on swiping from first tab to second tab
  XamarinCommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView

#551 [Validation] MultiValidationBehavior with TextValidationBehavior : Regex init fix
  XamarinCommunityToolkit.UnitTests/Behaviors/MultiValidationBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/Validators/TextValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/MultiValidationBehaviorPage.xaml
Labels: a/behaviors, a/tests :test_tube:

#552 Fix the wrong assignation of margins when the text is assigned
  XamarinCommunityToolkit/Views/BadgeView/BadgeView.shared.cs
Labels: a/BadgeView, bug

#605 Fixes #604
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/AvatarViewPage.xaml
Labels: a/sample-app

#603 [Bug] SnackBar Fix Appearance
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/SnackBarPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/IOSSnackBar.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackBarAppearance.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/BaseSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/MacOSSnackBar.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackBarAppearance.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/ActionMessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/BaseSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.ios.macos.cs
Labels: a/Snackbar, p/iOS, p/macOS

#566 TouchEffect (Press & Hover visual handling) + LongPress
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Images/button.png
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Images/button_pressed.png
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Effects/TouchEffectPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Effects/TouchEffectPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/ViewModels/Effects/EffectsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/EffectIds.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/Enums/HoverState.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/Enums/HoverStatus.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/Enums/TouchInteractionStatus.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/Enums/TouchState.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/Enums/TouchStatus.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/HoverStateChangedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/HoverStatusChangedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/TouchCompletedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/TouchInteractionStatusChangedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/TouchStateChangedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/TouchStatusChangedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/VisualElementExtension.shared.cs
Labels: a/TouchEffect, a/effects

#621 StateLayout crashes when AnimateStateChanges is True
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/StateLayout/StateLayoutController.shared.cs
Labels: a/StateLayout, a/views

#616 apply flash change only when it is available
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: a/CameraView :camera_flash:

#622 RangeSlider in Scrollview (Android)
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/RangeSlider/RangeSlider.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/RangeSlider/ThumbFrame.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/RangeSlider/ThumbFrameRenderer.android.cs
Labels: a/range-slider, a/views

#620 [Bug] AvatarView Aspect
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/AvatarView.shared.cs
Labels: a/AvatarView, a/views

#598 Change the XCT Target to XF5.0
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/Properties/AndroidManifest.xml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/SplashActivity.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.GTK/Xamarin.CommunityToolkit.Sample.GTK.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.WPF/Xamarin.CommunityToolkit.Sample.WPF.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample.iOS/Xamarin.CommunityToolkit.Sample.iOS.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/App.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/AssemblyInfo.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Effects/SafeAreaEffectPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/BaseWeakEventManagerTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/DelegateWeakEventManager_Action_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/DelegateWeakEventManager_Delegate_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/DelegateWeakEventManager_EventHandler_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/WeakEventManager_ActionT_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/WeakEventManager_EventHandlerT_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/MaxLengthReachedBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/DelegateWeakEventManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/README.md
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/WeakEventManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/AsyncValueCommand.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/ObservableObject.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/README.md
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: api-change :rotating_light:, ready-to-merge

#623 [Housekeeping] Warnings elimination
  src/CommunityToolkit/Xamarin.CommunityToolkit/AssemblyInfo/AssemblyInfo.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/RequiredStringValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/RemoveBorder/RemoveBorderEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/VisualFeedback/VisualFeedbackEffectRouter.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/GravatarImageExtension.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/PreserveToolkitAttribute.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/ImageSourceValidator.android.ios.macos.uwp.wpf.gtk.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/Android/GravatarImageSourceHandler.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/GravatarImageSource.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/MacOS/GravatarImageSourceHandler.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/Shared/GravatarImageSourceHandler.android.ios.macos.tizen.uwp.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/Shared/GravatarImageSourceHandler.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/Tizen/GravatarImageSourceHandler.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/UWP/GravatarImageSourceHandler.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/Wpf/GravatarImageSourceHandler.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/GravatarImageSource/iOS/GravatarImageSourceHandler.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/MediaElement.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackBarAppearance.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackBarView.ios.cs
Labels: DO-NOT-MERGE, housekeeping

#619 UniformGrid
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/UniformGridPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Views/UniformGridPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/UniformGrid.shared.cs
Labels: a/views
