Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-08, with the labels that each got.

#185 Update README.md
  README.md
Labels: housekeeping

#186 Moved all strings to a Resource file
  XamarinCommunityToolkitSample/Microsoft.Toolkit.Xamarin.Forms.Sample.csproj
  XamarinCommunityToolkitSample/Pages/AboutPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/AnimationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EventToCommandBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/NumericValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ItemSelectedEventArgsPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ItemTappedEventArgsPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/RangeSliderPage.xaml
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/AboutViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ItemSelectedEventArgsViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ItemTappedEventArgsViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/WelcomeViewModel.cs
Labels: a/i18n :globe_with_meridians:, a/sample-app

#182 Implement ByteArrayToImageSourceConverter in converters.
  XamarinCommunityToolkit.UnitTests/Converters/ByteArrayToImageSourceConverter_Tests.cs
  XamarinCommunityToolkit/Converters/ByteArrayToImageSourceConverter.shared.cs
  XamarinCommunityToolkitSample/Pages/Converters/ByteArrayToImageSourcePage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ByteArrayToImageSourcePage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Converters/ByteArrayToImageSourceViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
Labels: a/converters

#187 SideMenuView
  XamarinCommunityToolkit/Views/SideMenuView/ISideMenuList.shared.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuElementCollection.shared.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuPosition.shared.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuState.shared.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuViewRenderer.android.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuViewRenderer.ios.cs
  XamarinCommunityToolkit/Views/SideMenuView/TimeShiftItem.shared.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  XamarinCommunityToolkitSample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  XamarinCommunityToolkitSample/Pages/Views/SideMenuViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/SideMenuViewPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: a/views

#180 Masked behavior
  XamarinCommunityToolkit/Behaviors/MaskedBehavior.shared.cs
  XamarinCommunityToolkitSample.Android/Resources/Resource.designer.cs
  XamarinCommunityToolkitSample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  XamarinCommunityToolkitSample.iOS/Xamarin.CommunityToolkit.Sample.iOS.csproj
  XamarinCommunityToolkitSample/Pages/Behaviors/MaskedBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/MaskedBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/Xamarin.CommunityToolkit.Sample.csproj
Labels: DO-NOT-MERGE, a/behaviors

#206 Prevent designer file of being comitted
  .gitignore
  XamarinCommunityToolkitSample.Android/Resources/Resource.designer.cs
Labels: housekeeping

#205 UriValidationBehavior
  XamarinCommunityToolkit.UnitTests/Behaviors/EventToCommandBehavior_Tests.cs
  XamarinCommunityToolkit.UnitTests/Behaviors/UriValidationBehavior_Tests.cs
  XamarinCommunityToolkit.UnitTests/Mocks/MockPlatformServices.cs
  XamarinCommunityToolkit.UnitTests/Xamarin.CommunityToolkit.UnitTests.csproj
  XamarinCommunityToolkit/Behaviors/Validators/EmailValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/NumericValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/TextDecorationFlags.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/TextValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/UriValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/ValidationFlags.shared.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  XamarinCommunityToolkitSample/Pages/Behaviors/UriValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/UriValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
Labels: a/behaviors, api-change :rotating_light:

#207 Daily code formatting check
  .github/workflows/dotnet-format-daily.yml
Labels: buildchain, housekeeping

#235 [Housekeeping] Update README Controls namespace to Views to match actual implementation
  README.md
Labels: housekeeping

#245 Added some unit tests to check namespaces
  XamarinCommunityToolkit.UnitTests/ConvertersNamespace_Tests.cs
Labels: a/tests :test_tube:, buildchain, housekeeping

#239 MultiValidationBehavior
  XamarinCommunityToolkit/Behaviors/Validators/MultiValidationBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/MultiValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/MultiValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
Labels: a/behaviors, api-change :rotating_light:, ready-to-merge

#244 CameraView iOS
  README.md
  XamarinCommunityToolkit.UnitTests/Views/CameraView_Tests.cs
  XamarinCommunityToolkit/AssemblyInfo/AssemblyInfo.shared.cs
  XamarinCommunityToolkit/Core/CameraMediaSource.shared.cs
  XamarinCommunityToolkit/Core/StreamMediaSource.shared.cs
  XamarinCommunityToolkit/Extensions/TranslateExtension.shared.cs
  XamarinCommunityToolkit/Views/CameraView/CameraCaptureOptions.shared.cs
  XamarinCommunityToolkit/Views/CameraView/CameraFlashMode.shared.cs
  XamarinCommunityToolkit/Views/CameraView/CameraOptions.shared.cs
  XamarinCommunityToolkit/Views/CameraView/CameraView.shared.cs
  XamarinCommunityToolkit/Views/CameraView/CameraViewRenderer.ios.cs
  XamarinCommunityToolkit/Views/CameraView/FormsCameraView.ios.cs
  XamarinCommunityToolkit/Views/CameraView/MediaCapturedEventArgs.shared.cs
  XamarinCommunityToolkitSample.iOS/Info.plist
  XamarinCommunityToolkitSample.sln
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: a/views, api-change :rotating_light:

#256 use decimal separator from current culture
  XamarinCommunityToolkit.UnitTests/Behaviors/NumericValidationBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/Validators/NumericValidationBehavior.shared.cs
Labels: a/behaviors, bug
