Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-09, with the labels that each got.

#248 Date time offset converter
  XamarinCommunityToolkit.UnitTests/Converters/DateTimeOffsetConverter_Tests.cs
  XamarinCommunityToolkit/Converters/DateTimeOffsetConverter.shared.cs
  XamarinCommunityToolkitSample/Pages/Converters/DateTimeOffsetConverterPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/DateTimeOffsetConverterPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/DateTimeOffsetConverterViewModel.cs
Labels: a/converters, a/sample-app, api-change :rotating_light:

#253 User stopped typing behavior
  XamarinCommunityToolkit.UnitTests/Behaviors/UserStoppedTypingBehavior_Tests.cs
  XamarinCommunityToolkit.UnitTests/Xamarin.CommunityToolkit.UnitTests.csproj
  XamarinCommunityToolkit/Behaviors/UserStoppedTypingBehavior.shared.cs
  XamarinCommunityToolkitSample.sln
  XamarinCommunityToolkitSample/Pages/Behaviors/UserStoppedTypingBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/UserStoppedTypingBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/UserStoppedTypingBehaviorViewModel.cs
  XamarinCommunityToolkitSample/Xamarin.CommunityToolkit.Sample.csproj
Labels: a/behaviors, a/sample-app, api-change :rotating_light:

#250 Merge ObservableRangeCollection from MVVMHelpers
  XamarinCommunityToolkit.UnitTests/ObjectModel/ObservableRangeCollection_Tests.cs
  XamarinCommunityToolkit/ObjectModel/ObservableRangeCollection.shared.cs
Labels: a/mvvm, a/tests :test_tube:, api-change :rotating_light:

#252 [UWP] CameraView
  XamarinCommunityToolkit.UnitTests/Views/CameraView_Tests.cs
  XamarinCommunityToolkit/Views/CameraView/CameraView.shared.cs
  XamarinCommunityToolkit/Views/CameraView/CameraViewRenderer.uwp.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  XamarinCommunityToolkitSample.UWP/Package.appxmanifest
  XamarinCommunityToolkitSample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml.cs
Labels: UWP, a/CameraView :camera_flash:, a/sample-app, api-change :rotating_light:

#257 Expander
  XamarinCommunityToolkit/Views/Expander/ExpandDirection.shared.cs
  XamarinCommunityToolkit/Views/Expander/ExpandDirectionExtensions.shared.cs
  XamarinCommunityToolkit/Views/Expander/ExpandState.shared.cs
  XamarinCommunityToolkit/Views/Expander/Expander.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/ExpanderPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ExpanderPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/ExpanderViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: a/expander, a/views

#271 Add macOS Build Target
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: p/macOS

#277 Make BaseBehavior generic
  XamarinCommunityToolkit.UnitTests/Namespace_Tests.cs
  XamarinCommunityToolkit/Behaviors/BaseBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/EventToCommandBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/MaskedBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/UserStoppedTypingBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
Labels: api-change :rotating_light:, housekeeping

#269 Added BaseTemplatedView
  XamarinCommunityToolkit/Views/AvatarView.shared.cs
  XamarinCommunityToolkit/Views/BaseTemplatedView.shared.cs
  XamarinCommunityToolkit/Views/Expander/Expander.shared.cs
  XamarinCommunityToolkit/Views/RangeSlider.shared.cs
  XamarinCommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/UriValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ExpanderPage.xaml
Labels: a/views, housekeeping

#288 Added project logo and applied to README and NuGet
  README.md
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  assets/XamarinCommunityToolkit.gvdesign
  assets/XamarinCommunityToolkit.png
  assets/XamarinCommunityToolkit.svg
  assets/XamarinCommunityToolkit_128x128.png
Labels: housekeeping

#262 CameraView Android part 🤖
  XamarinCommunityToolkit/Resources/Layout/CameraFragment.axml
  XamarinCommunityToolkit/Views/CameraView/Android/AutoFitTextureView.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/CameraCaptureListener.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/CameraCaptureStateListener.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/CameraStateListener.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/CameraViewRenderer.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/ImageAvailableListener.android.cs
  XamarinCommunityToolkit/Views/CameraView/Android/MotionEventHelper.android.cs
  XamarinCommunityToolkit/Views/CameraView/CameraView.shared.cs
  XamarinCommunityToolkit/Views/CameraView/UWP/CameraViewRenderer.uwp.cs
  XamarinCommunityToolkit/Views/CameraView/iOS/CameraViewRenderer.ios.cs
  XamarinCommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  XamarinCommunityToolkitSample.Android/Properties/AndroidManifest.xml
  XamarinCommunityToolkitSample.sln
  XamarinCommunityToolkitSample/Pages/Views/CameraViewPage.xaml
Labels: a/CameraView :camera_flash:, a/views, api-change :rotating_light:

#304 ListToStringConverter
  XamarinCommunityToolkit.UnitTests/Converters/ListToStringConverter_Tests.cs
  XamarinCommunityToolkit/Converters/ListToStringConverter.shared.cs
Labels: a/converters, api-change :rotating_light:

#291 CameraView: Implemented returning of path of saved file
  XamarinCommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
  XamarinCommunityToolkit/Views/CameraView/MediaCapturedEventArgs.shared.cs
  XamarinCommunityToolkit/Views/CameraView/UWP/CameraViewRenderer.uwp.cs
  XamarinCommunityToolkit/Views/CameraView/iOS/CameraViewRenderer.ios.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/CameraView :camera_flash:, api-change :rotating_light:

#309 [Bug] [CameraView] [Android] Fixed crash when Xamarin.Android tries to call OnPause
  XamarinCommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
Labels: a/CameraView :camera_flash:, bug, p/android

#321 Added IsNullOrEmptyConverter_Tests
  XamarinCommunityToolkit.UnitTests/Converters/IsNotNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/IsNullOrEmptyConverter_Tests.cs
Labels: housekeeping

#274 ImpliedOrderGridBehavior
  XamarinCommunityToolkit.UnitTests/Behaviors/ImpliedOrderGridBehavior_Tests.cs
  XamarinCommunityToolkit/Behaviors/ImpliedOrderGridBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/ImpliedOrderGridBehaviorLabel.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/ImpliedOrderGridBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/ImpliedOrderGridBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/Xamarin.CommunityToolkit.Sample.csproj
Labels: a/behaviors, api-change :rotating_light:

#261 #197 Snackbar
  Xamarin.CommunityToolkit.Sample.WPF/App.config
  Xamarin.CommunityToolkit.Sample.WPF/App.xaml
  Xamarin.CommunityToolkit.Sample.WPF/App.xaml.cs
  Xamarin.CommunityToolkit.Sample.WPF/MainWindow.xaml
  Xamarin.CommunityToolkit.Sample.WPF/MainWindow.xaml.cs
  Xamarin.CommunityToolkit.Sample.WPF/Properties/AssemblyInfo.cs
  Xamarin.CommunityToolkit.Sample.WPF/Properties/Resources.Designer.cs
  Xamarin.CommunityToolkit.Sample.WPF/Properties/Resources.resx
  Xamarin.CommunityToolkit.Sample.WPF/Properties/Settings.Designer.cs
  Xamarin.CommunityToolkit.Sample.WPF/Properties/Settings.settings
  Xamarin.CommunityToolkit.Sample.WPF/Xamarin.CommunityToolkit.Sample.WPF.csproj
  XamarinCommunityToolkit.UnitTests/Actions/Snackbar/Snackbar_Tests.cs
  XamarinCommunityToolkit.UnitTests/Xamarin.CommunityToolkit.UnitTests.csproj
  XamarinCommunityToolkit/Actions/ActionArguments.shared.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/SnackbarLayout.ios.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/Extensions/UIViewExtensions.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/IOSSnackBar.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/SnackbarAppearance.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackbarView.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/SnackbarViews/BaseSnackbarView.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackbarView.ios.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/macOS/MacOSSnackBar.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/macOS/SnackbarAppearance.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/macOS/SnackbarViews/ActionMessageSnackbarView.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/macOS/SnackbarViews/BaseSnackbarView.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackbarView.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.android.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.gtk.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.ios.macos.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.shared.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.tizen.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.uwp.cs
  XamarinCommunityToolkit/Actions/Snackbar/Snackbar.wpf.cs
  XamarinCommunityToolkit/Actions/Snackbar/SnackbarArguments.shared.cs
  XamarinCommunityToolkit/Extensions/PageExtension.shared.cs
  XamarinCommunityToolkit/Xamarin.CommunityToolkit.csproj
  XamarinCommunityToolkitSample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  XamarinCommunityToolkitSample.iOS/Info.plist
  XamarinCommunityToolkitSample.sln
  XamarinCommunityToolkitSample/Pages/Views/ActionsPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ActionsPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml
  XamarinCommunityToolkitSample/Resx/AppResources.Designer.cs
  XamarinCommunityToolkitSample/Resx/AppResources.es.resx
  XamarinCommunityToolkitSample/Resx/AppResources.resx
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/Xamarin.CommunityToolkit.Sample.csproj
Labels: a/Snackbar, a/views, api-change :rotating_light:

#334 Added Commands to CameraView control
  XamarinCommunityToolkit.UnitTests/Views/CameraView_Tests.cs
  XamarinCommunityToolkit/Views/CameraView/CameraView.shared.cs
Labels: a/CameraView :camera_flash:, api-change :rotating_light:
