Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-07, with the labels that each got.

#151 TextDecorationFlags for TextValidationBehavior
  XamarinCommunityToolkit/Behaviors/TextDecorationFlags.shared.cs
  XamarinCommunityToolkit/Behaviors/TextValidationBehavior.shared.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml
Labels: a/behaviors, api-change :rotating_light:, enhancement

#152 Adding UnitTest project and some Converters tests
  XamarinCommunityToolkit.UnitTests/Converters/BoolToObjectConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/DoubleToIntConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/EqualConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/IndexToArrayItemConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/IntToBoolConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/InvertedBoolConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/IsNotNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/ListIsNotNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/ListIsNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/MultiConverterParameter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/MultiConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/NotEqualConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/TextCaseConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/XamarinCommunityToolkit.UnitTests.csproj
  XamarinCommunityToolkit/XamarinCommunityToolkit.csproj
  XamarinCommunityToolkitSample.sln
Labels: a/converters, a/tests :test_tube:

#153 Add unit tests to pipeline
  README.md
  azure-pipelines.yml
Labels: a/tests :test_tube:, buildchain

#156 Added Missing Converter Tests
  XamarinCommunityToolkit.UnitTests/Converters/BoolToObjectConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/DoubleToIntConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/IntToBoolConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/InvertedBoolConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/IsNotNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/ListIsNotNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/ListIsNullOrEmptyConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/MultiConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/NotEqualConverter_Tests.cs
  XamarinCommunityToolkit.UnitTests/Converters/TextCaseConverter_Tests.cs
Labels: a/converters

#157 Implement ItemTappedEventArgsConverter and ConvertersGalleryPage
  XamarinCommunityToolkit.UnitTests/Converters/ItemTappedEventArgsConverter_Tests.cs
  XamarinCommunityToolkit/Converters/ItemTappedEventArgsConverter.shared.cs
  XamarinCommunityToolkitSample/Models/Converters/ConverterSectionId.cs
  XamarinCommunityToolkitSample/Models/Converters/ConverterSectionModel.cs
  XamarinCommunityToolkitSample/Pages/Converters/ConvertersGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ConvertersGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Converters/ItemTappedEventArgsPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ItemTappedEventArgsPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ItemTappedEventArgsViewModel.cs
  XamarinCommunityToolkitSample/XamarinCommunityToolkitSample.csproj
Labels: a/converters, enhancement

#164 Sample UI update
  XamarinCommunityToolkitSample.Android/XamarinCommunityToolkitSample.Android.csproj
  XamarinCommunityToolkitSample.iOS/Renderers/NoLineNavigationRenderer.cs
  XamarinCommunityToolkitSample.iOS/XamarinCommunityToolkitSample.iOS.csproj
  XamarinCommunityToolkitSample/App.xaml
  XamarinCommunityToolkitSample/App.xaml.cs
  XamarinCommunityToolkitSample/Models/Behaviors/BehaviorSectionId.cs
  XamarinCommunityToolkitSample/Models/Behaviors/BehaviorSectionModel.cs
  XamarinCommunityToolkitSample/Models/Converters/ConverterSectionId.cs
  XamarinCommunityToolkitSample/Models/Converters/ConverterSectionModel.cs
  XamarinCommunityToolkitSample/Models/SectionModel.cs
  XamarinCommunityToolkitSample/Models/Views/ViewSectionId.cs
  XamarinCommunityToolkitSample/Models/Views/ViewSectionModel.cs
  XamarinCommunityToolkitSample/Models/WelcomeSectionId.cs
  XamarinCommunityToolkitSample/Models/WelcomeSectionModel.cs
  XamarinCommunityToolkitSample/Pages/AboutPage.xaml
  XamarinCommunityToolkitSample/Pages/AboutPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Base/BaseNavigationPage.cs
  XamarinCommunityToolkitSample/Pages/Base/BasePage.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/BehaviorsGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/BehaviorsGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/EventToCommandBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EventToCommandBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/NumericValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/NumericValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Converters/ConvertersGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ConvertersGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Converters/ItemTappedEventArgsPage.xaml
  XamarinCommunityToolkitSample/Pages/Converters/ItemTappedEventArgsPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Extensions/ExtensionsGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Extensions/ExtensionsGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/TestCases/TestCasesGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/TestCases/TestCasesGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/ViewsGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ViewsGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml.cs
  XamarinCommunityToolkitSample/ViewModels/Base/BaseViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/WelcomeViewModel.cs
  XamarinCommunityToolkitSample/XamarinCommunityToolkitSample.csproj
  XamarinCommunityToolkitSample/resources/xamarin_monkey.png
Labels: housekeeping

#166 RangeSlider
  XamarinCommunityToolkit/Views/RangeSlider.shared.cs
  XamarinCommunityToolkitSample/Pages/Views/RangeSliderPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/RangeSliderPage.xaml.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: a/range-slider, a/views, api-change :rotating_light:, enhancement
