Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2020-06, with the labels that each got.

#130 Added converters | IntToBool | DoubleToInt | BoolToObject | IndexToArrayItem | LowerCaseText | UpperCaseText
  XamarinCommunityToolkit/Converters/BoolToObjectConverter.shared.cs
  XamarinCommunityToolkit/Converters/DoubleToIntConverter.shared.cs
  XamarinCommunityToolkit/Converters/IndexToArrayItemConverter.shared.cs
  XamarinCommunityToolkit/Converters/IntToBoolConverter.shared.cs
  XamarinCommunityToolkit/Converters/TextCaseConverter.shared.cs
  XamarinCommunityToolkit/Converters/TextCaseConverterType.shared.cs
Labels: a/converters, enhancement

#127 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: a/documentation

#139 Implement IMarkupExtension in converters
  XamarinCommunityToolkit/Converters/BoolToObjectConverter.shared.cs
  XamarinCommunityToolkit/Converters/DoubleToIntConverter.shared.cs
  XamarinCommunityToolkit/Converters/EqualConverter.shared.cs
  XamarinCommunityToolkit/Converters/IndexToArrayItemConverter.shared.cs
  XamarinCommunityToolkit/Converters/IntToBoolConverter.shared.cs
  XamarinCommunityToolkit/Converters/InvertedBoolConverter.shared.cs
  XamarinCommunityToolkit/Converters/IsNotNullOrEmptyConverter.shared.cs
  XamarinCommunityToolkit/Converters/IsNullOrEmptyConverter.shared.cs
  XamarinCommunityToolkit/Converters/ListIsNotNullOrEmptyConverter.shared.cs
  XamarinCommunityToolkit/Converters/ListIsNullOrEmptyConverter.shared.cs
  XamarinCommunityToolkit/Converters/NotEqualConverter.shared.cs
  XamarinCommunityToolkit/Converters/TextCaseConverter.shared.cs
  XamarinCommunityToolkit/Converters/TextCaseType.shared.cs
  XamarinCommunityToolkit/Extensions/ValueConverterExtension.shared.cs
  XamarinCommunityToolkit/XamarinCommunityToolkit.csproj
Labels: a/converters, enhancement

#143 Sample app redesign [Part 1]
  XamarinCommunityToolkit/Extensions/ImageResourceExtension.shared.cs
  XamarinCommunityToolkitSample.Android/Properties/AndroidManifest.xml
  XamarinCommunityToolkitSample.Android/XamarinCommunityToolkitSample.Android.csproj
  XamarinCommunityToolkitSample.iOS/XamarinCommunityToolkitSample.iOS.csproj
  XamarinCommunityToolkitSample/App.xaml
  XamarinCommunityToolkitSample/App.xaml.cs
  XamarinCommunityToolkitSample/AppShell.xaml
  XamarinCommunityToolkitSample/AppShell.xaml.cs
  XamarinCommunityToolkitSample/Controls/FlyoutHeader.xaml
  XamarinCommunityToolkitSample/Controls/FlyoutHeader.xaml.cs
  XamarinCommunityToolkitSample/Models/WelcomeSectionId.cs
  XamarinCommunityToolkitSample/Models/WelcomeSectionModel.cs
  XamarinCommunityToolkitSample/ViewModels/AboutViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/BaseViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/BehaviorsPageViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/WelcomeViewModel.cs
  XamarinCommunityToolkitSample/Views/AboutPage.xaml
  XamarinCommunityToolkitSample/Views/AboutPage.xaml.cs
  XamarinCommunityToolkitSample/Views/BehaviorsPage.xaml
  XamarinCommunityToolkitSample/Views/BehaviorsPage.xaml.cs
  XamarinCommunityToolkitSample/Views/ConvertersPage.xaml
  XamarinCommunityToolkitSample/Views/ConvertersPage.xaml.cs
  XamarinCommunityToolkitSample/Views/WelcomePage.xaml
  XamarinCommunityToolkitSample/Views/WelcomePage.xaml.cs
  XamarinCommunityToolkitSample/XamarinCommunityToolkitSample.csproj
  XamarinCommunityToolkitSample/resources/xamarin_monkey.png
Labels: housekeeping

#144 Multiconverter
  XamarinCommunityToolkit/Converters/MultiConverter.shared.cs
  XamarinCommunityToolkit/Converters/MultiConverterParameter.shared.cs
Labels: a/converters, enhancement

#136 AvatarView
  XamarinCommunityToolkit/Views/AvatarView.shared.cs
  XamarinCommunityToolkit/XamarinCommunityToolkit.csproj
  XamarinCommunityToolkitSample.Android/Resources/Resource.designer.cs
  XamarinCommunityToolkitSample.Android/XamarinCommunityToolkitSample.Android.csproj
  XamarinCommunityToolkitSample.iOS/XamarinCommunityToolkitSample.iOS.csproj
  XamarinCommunityToolkitSample/App.xaml.cs
  XamarinCommunityToolkitSample/Models/Views/ViewSectionId.cs
  XamarinCommunityToolkitSample/Models/Views/ViewSectionModel.cs
  XamarinCommunityToolkitSample/Pages/BehaviorsPage.xaml
  XamarinCommunityToolkitSample/Pages/BehaviorsPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/ViewsGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ViewsGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml.cs
  XamarinCommunityToolkitSample/ViewModels/Views/AvatarViewViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/XamarinCommunityToolkitSample.csproj
Labels: a/views, enhancement

#146 SafeAreaEffect helper for iOS specific styling
  XamarinCommunityToolkit/Effects/SafeAreaEffect.shared.cs
  XamarinCommunityToolkit/Effects/SafeAreaEffectRouter.ios.cs
  XamarinCommunityToolkit/Effects/SafeAreaEffectRouter.shared.cs
  XamarinCommunityToolkit/Helpers/SafeArea.shared.cs
  XamarinCommunityToolkit/Helpers/SafeAreaTypeConverter.shared.cs
  XamarinCommunityToolkit/XamarinCommunityToolkit.csproj
  XamarinCommunityToolkitSample.iOS/XamarinCommunityToolkitSample.iOS.csproj
Labels: enhancement, iOS

#132 [POC] Validation behaviors
  XamarinCommunityToolkit/Behaviors/AttachedNumericValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/BaseBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/DataChangedBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/EffectBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/EmailValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/EventToCommandBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/LengthValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/MinMaxNumericValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/NumericValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/RegularExpressionValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/TextValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/ValidationBehavior.shared.cs
  XamarinCommunityToolkit/Behaviors/ValidationFlags.shared.cs
  XamarinCommunityToolkit/Controls/ActionCollection.shared.cs
  XamarinCommunityToolkit/Controls/BindableObjectCollection.shared.cs
  XamarinCommunityToolkit/Extensions/ImageResourceExtension.shared.cs
  XamarinCommunityToolkit/Helpers/Enumerations.shared.cs
  XamarinCommunityToolkit/Helpers/RegularExpressions.shared.cs
  XamarinCommunityToolkit/XamarinCommunityToolkit.csproj
  XamarinCommunityToolkitSample/App.xaml
  XamarinCommunityToolkitSample/Models/Behaviors/BehaviorSectionId.cs
  XamarinCommunityToolkitSample/Models/Behaviors/BehaviorSectionModel.cs
  XamarinCommunityToolkitSample/Models/Views/ViewSectionId.cs
  XamarinCommunityToolkitSample/Models/WelcomeSectionId.cs
  XamarinCommunityToolkitSample/Pages/AboutPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/BehaviorsGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/BehaviorsGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EmailValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/EventToCommandBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/EventToCommandBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Behaviors/NumericValidationBehaviorPage.xaml
  XamarinCommunityToolkitSample/Pages/Behaviors/NumericValidationBehaviorPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/BehaviorsPage.xaml
  XamarinCommunityToolkitSample/Pages/BehaviorsPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/Views/AvatarViewPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ViewsGalleryPage.xaml
  XamarinCommunityToolkitSample/Pages/Views/ViewsGalleryPage.xaml.cs
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml
  XamarinCommunityToolkitSample/Pages/WelcomePage.xaml.cs
  XamarinCommunityToolkitSample/ViewModels/AboutViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Behaviors/EventToCommandBehaviorViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/Views/ViewsGalleryViewModel.cs
  XamarinCommunityToolkitSample/ViewModels/WelcomeViewModel.cs
  XamarinCommunityToolkitSample/XamarinCommunityToolkitSample.csproj
Labels: a/behaviors, enhancement
