Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-03, with the labels that each got.

#925 Feature/371 enum boolean converter
  samples/XCT.Sample/Pages/Converters/EnumToBoolConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/EnumToBoolConverterPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/EnumToBoolConverterViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/EnumToBoolConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/EnumToBoolConverter.shared.cs
Labels: a/converters, retarget-required

#955 Add VSM to ValidationBehavior
  samples/XCT.Sample/Pages/Behaviors/CharactersValidationBehaviorPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
Labels: a/behaviors, api-change :rotating_light:

#919 Fix Singleton Pattern for LocalizationResourceManager
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizationResourceManagerTests/LocalizationResourceManagerTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizedStringTests/LocalizedStringTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/LocalizationResourceManager.shared.cs
Labels: a/i18n :globe_with_meridians:, optimization

#1052 Fix AvatarView UriImageSource Stream closed exception
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/AvatarView.shared.cs
Labels: a/AvatarView

#1048 Add remove border effect implementation for uwp
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/RemoveBorder/RemoveBorderEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/RemoveBorder/RemoveBorderEffect.uwp.cs
Labels: UWP, a/effects

#1064 [Enhancement] Add LongPressCompleted event to TouchEffect
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/EventArgs/LongPressCompletedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
Labels: a/TouchEffect

#1071 Fix for LocalizedString not displaying in Release mode
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/LocalizedString.shared.cs
Labels: a/Linker, a/i18n :globe_with_meridians:

#1076 Resolve `IAsyncCommand` / `IAsyncValueValueCommand` Unit Test Race Condition
  azure-pipelines.yml
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizedStringTests/LocalizedStringTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/AsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/IAsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/ICommand_AsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncValueCommandTests/AsyncValueCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncValueCommandTests/BaseAsyncValueCommandTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncValueCommandTests/ICommand_AsyncValueCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/BaseCommandTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Xamarin.CommunityToolkit.UnitTests.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Internals/BaseCommand.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Internals/BaseCommand.netstandard.wpf.cs
Labels: awaiting-review, ready-to-merge

#1078 Fix TouchEffect crash on resetting Application.MainPage
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
Labels: a/TouchEffect

#1053 allow TextCaseConverter to handle any value type
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/TextCaseConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Mocks/MockEnum.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Mocks/MockItem.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseType.shared.cs
Labels: a/converters

#1056 Rename TouchEffect VisualState from Normal to Unpressed for avoiding naming conflict
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
Labels: :exclamation: Breaking Change, a/TouchEffect

#949 Platform specific API
  samples/XCT.Sample/Pages/Views/Popups/TransparentPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/TransparentPopup.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/PlatformConfiguration/WindowsSpecific/PopUp.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/PlatformConfiguration/iOSSpecific/PopUp.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/BasePopup.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/UWP/Popup.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/UWP/PopupRenderer.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/PopoverArrowDirection.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/Popup.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/PopupRenderer.ios.cs
Labels: a/popup, api-change :rotating_light:

#1090 Migrate Unit Tests to NUnit
  azure-pipelines.yml
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/CharactersValidationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/EventToCommandBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/ImpliedOrderGridBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/MaxLengthReachedBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/MultiValidationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/NumericValidationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/RequiredStringValidationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/SetFocusOnEntryCompleted_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/UriValidationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/UserStoppedTypingBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/BoolToObjectConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ByteArrayToImageSourceConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/DateTimeOffsetConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/DoubleToIntConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/EnumToBoolConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/EqualConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/IndexToArrayItemConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/IntToBoolConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/InvertedBoolConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/IsNotNullOrEmptyConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/IsNullOrEmptyConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ItemSelectedEventArgsConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ItemTappedEventArgsConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ListIsNotNullOrEmptyConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ListIsNullOrEmptyConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ListToStringConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/MultiConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/NotEqualConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/TextCaseConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/VariableMultiValueConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizationResourceManagerTests/LocalizationResourceManagerTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizedStringTests/LocalizedStringTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/DelegateWeakEventManager_Action_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/DelegateWeakEventManager_Delegate_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/DelegateWeakEventManager_EventHandler_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/WeakEventManager_ActionT_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/WeakEventManagerTests/WeakEventManager_EventHandlerT_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Namespace_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/Grouping_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/AsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/IAsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/ICommand_AsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncValueCommandTests/AsyncValueCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncValueCommandTests/IAsyncValueCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncValueCommandTests/ICommand_AsyncValueCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/BaseCommandTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/CommandFactoryTests/CommandFactory_AsyncCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/CommandFactoryTests/CommandFactory_AsyncValueCommand_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/CommandFactoryTests/CommandFactory_Command_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ObservableObject_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ObservableRangeCollection_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Views/CameraView_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Views/MediaElement_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Views/MediaSource_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Views/SnackBar_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Xamarin.CommunityToolkit.UnitTests.csproj
Labels: buildchain, housekeeping

#1010 Implement a generic version of the EventToCommandBehavior
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/EventToCommandBehaviorGeneric_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/EventToCommandBehaviorGeneric.shared.cs
Labels: a/behaviors, enhancement

#1088 [UWP] TouchEffect OnPointerReleased crash
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.uwp.cs
Labels: a/TouchEffect

#1067 Add UWP implementation for SelectAllTextEffect
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/SelectAllText/SelectAllTextEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/SelectAllText/SelectAllTextEffect.uwp.cs
Labels: UWP, a/effects

#1109 [iOS] Make RangeSlider more natural look like
  samples/XCT.Sample/Pages/Views/RangeSliderPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/RangeSlider/RangeSlider.shared.cs
Labels: a/range-slider

#932 Generate Mdoc documentation files
  .gitignore
  Xamarin.CommunityToolkit.All.sln
  docs/frameworks.xml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ByteArrayToImageSourceConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/EnumToBoolConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/StateToBooleanConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Exceptions/InvalidCommandParameterException.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Exceptions/InvalidHandleEventException.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/NavigableElement/NavigableElementExtensions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Navigation/NavigationExtensions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BaseTemplatedView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/LazyView/BaseLazyView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/BasePopup.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/PopupOfT.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
  src/Directory.Build.props
  src/Markup/Xamarin.CommunityToolkit.Markup/Xamarin.CommunityToolkit.Markup.csproj
  src/mdoc.targets
Labels: DO-NOT-MERGE, a/documentation, buildchain, housekeeping

#1125 [AvatarView] Show initials if stream is empty
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/AvatarView.shared.cs
Labels: a/AvatarView

#1147 Fix Expander crash when Direction changed
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Expander/Expander.shared.cs
Labels: a/expander, regression
