Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-06, with the labels that each got.

#1297 fix bug, Binding error on views inside a TabViewItem if the TabView …
  samples/XCT.Sample/Pages/TestCases/TabViewBindingPage.xaml
  samples/XCT.Sample/Pages/TestCases/TabViewBindingPage.xaml.cs
  samples/XCT.Sample/Pages/TestCases/TabViewItemBindingView.xaml
  samples/XCT.Sample/Pages/TestCases/TabViewItemBindingView.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/TabViewBindingViewModel.cs
  samples/XCT.Sample/ViewModels/TestCases/TabViewItemBindingViewModel.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  samples/XCT.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView, bug

#1349 Expander: Add touch capture view + common animation length / easing properties
  samples/XCT.Sample/Pages/Views/ExpanderPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Expander/Expander.shared.cs
Labels: a/expander

#1351 Added cache Context value
  src/CommunityToolkit/Xamarin.CommunityToolkit/Startup/ToolkitPlatform.android.cs
Labels: bug

#1367 Fixes Popup Crashes on Android API 22 and Lower
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/Android/PopupRenderer.android.cs
Labels: a/popup

#1400 Fix iOS - can't show Popup from a modal page
  samples/XCT.Sample/Pages/TestCases/Popups/PopupModalPage.xaml
  samples/XCT.Sample/Pages/TestCases/Popups/PopupModalPage.xaml.cs
  samples/XCT.Sample/Pages/TestCases/Popups/SimplePopup.xaml
  samples/XCT.Sample/Pages/TestCases/Popups/SimplePopup.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/Popups/PopupModalViewModel.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  samples/XCT.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/PopupRenderer.ios.cs
Labels: a/popup, bug, p/iOS

#1361 Fix oldPosition newPostion args issue
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView

#740 Drawing View
  samples/XCT.Sample.Android/MainActivity.cs
  samples/XCT.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  samples/XCT.Sample.GTK/Xamarin.CommunityToolkit.Sample.GTK.csproj
  samples/XCT.Sample.UWP/App.xaml.cs
  samples/XCT.Sample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  samples/XCT.Sample.WPF/DrawingViewRenderer.wpf.cs
  samples/XCT.Sample.WPF/MainWindow.xaml.cs
  samples/XCT.Sample.WPF/Xamarin.CommunityToolkit.Sample.WPF.csproj
  samples/XCT.Sample.iOS/AppDelegate.cs
  samples/XCT.Sample.iOS/Xamarin.CommunityToolkit.Sample.iOS.csproj
  samples/XCT.Sample/App.xaml.cs
  samples/XCT.Sample/Pages/Views/DrawingViewPage.xaml
  samples/XCT.Sample/Pages/Views/DrawingViewPage.xaml.cs
  samples/XCT.Sample/ViewModels/Views/DrawingViewViewModel.cs
  samples/XCT.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/ImageSourceValidator.android.ios.macos.uwp.wpf.gtk.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/DrawingView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Extensions/Extensions.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Extensions/Extensions.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/SnackBarLayout.uwp.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/views

#1416 Fix UWP sample
  samples/XCT.Sample/App.xaml
  samples/XCT.Sample/Pages/WelcomePage.xaml
Labels: a/sample-app

#1362 Added IsLightDismissed to PopupDismissedEvent
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/Android/PopupRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/BasePopup.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/PopupDismissedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/PopupOfT.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/UWP/PopupRenderer.uwp.cs
Labels: UWP, a/popup

#1427 Fix Sample App Visual on iOS and Android
  samples/XCT.Sample/App.xaml
Labels: a/sample-app

#1435 Fix Nested Touch Effects
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
Labels: a/TouchEffect
