Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-02, with the labels that each got.

#817 [Android] TouchEffect NativeAnimation triggered twice
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
Labels: a/TouchEffect

#796 Implemented LazyView
  samples/XCT.Sample/Pages/Views/TabView/LazyTabPage.xaml
  samples/XCT.Sample/Pages/Views/TabView/LazyTabPage.xaml.cs
  samples/XCT.Sample/Pages/Views/TabView/LazyTestView.xaml
  samples/XCT.Sample/Pages/Views/TabView/LazyTestView.xaml.cs
  samples/XCT.Sample/Pages/Views/TabView/NormalTestView.xaml
  samples/XCT.Sample/Pages/Views/TabView/NormalTestView.xaml.cs
  samples/XCT.Sample/ViewModels/Views/TabViewViewModel.cs
  samples/XCT.Sample/ViewModels/Views/Tabs/LazyTestViewModel.cs
  samples/XCT.Sample/ViewModels/Views/Tabs/NormalTestViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/LazyView/BaseLazyView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/LazyView/LazyView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/LazyView, a/views

#826 Adding first batch of code comments
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/UserStoppedTypingBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/AvatarView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/ColorTheme.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/IColorTheme.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgeAnimation.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgePosition.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgeView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/IBadgeAnimation.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BaseTemplatedView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DockLayout/Dock.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DockLayout/DockLayout.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Shield.shared.cs
Labels: a/documentation, housekeeping

#764 [Android] Fix Long Press blocks CollectionView selection
  samples/XCT.Sample/Pages/TestCases/TouchEffectCollectionViewPage.xaml
  samples/XCT.Sample/Pages/TestCases/TouchEffectCollectionViewPage.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/VisualElementExtension.shared.cs
Labels: a/TouchEffect

#834 Fixed crash in Popup sample
  samples/XCT.Sample/Pages/Views/Popups/PopupAnchorPage.xaml
Labels: a/popup, a/sample-app, housekeeping

#824 [Android] Fix SideMenuView + Slider issue
  samples/XCT.Sample/Pages/Views/SideMenuViewPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuViewRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuViewRenderer.ios.cs
Labels: a/SideMenuView

#828 Changed LoadView to be Async
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/LazyView/BaseLazyView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/LazyView/LazyView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/LazyView, a/TabView

#864 Fix bug showing left/right the right way with SideMenuView
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
Labels: a/SideMenuView, bug

#836 ValidationBehavior: Added IsNotValid property
  samples/XCT.Sample/Pages/Behaviors/EmailValidationBehaviorPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/MultiValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
Labels: a/behaviors, a/validation, api-change :rotating_light:, needs-sample

#856 [Android] Converting dimensions to pixels in popup renderer
  samples/XCT.Sample/Pages/Views/Popups/ButtonPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/CsharpBindingPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/MultipleButtonPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/NoLightDismissPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/OpenedEventSimplePopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/PopupSize.cs
  samples/XCT.Sample/Pages/Views/Popups/ReturnResultPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/SimplePopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/ToggleSizePopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/TransparentPopup.xaml
  samples/XCT.Sample/Pages/Views/Popups/XamlBindingPopup.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/Android/PopupRenderer.android.cs
Labels: a/popup, bug

#882 Added inline docs for MaxLengthReachedBehavior
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/MaxLengthReachedBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/MaxLengthReachedEventArgs.shared.cs
Labels: a/documentation, housekeeping

#714 #704 [Bug] No padding around text in a Toast or Snackbar
  samples/XCT.Sample/Pages/Views/SnackBarPage.xaml
  samples/XCT.Sample/Pages/Views/SnackBarPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/NativeSnackButton.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/PaddedLabel.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/SnackBarLayout.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/SnackBarLayout.uwp.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/IOSSnackBar.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackBarAppearance.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/BaseSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/MacOSSnackBar.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackBarAppearance.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/ActionMessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/BaseSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/MessageOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/SnackBarActionOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.ios.macos.cs
Labels: a/Snackbar, api-change :rotating_light:

#888 Update ViewsGalleryViewModel.cs
  samples/XCT.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
Labels: a/sample-app, housekeeping

#874 Make ShieldView more customizable
  samples/XCT.Sample/Pages/Views/ShieldPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Shield.shared.cs
Labels: a/Shield :shield:, api-change :rotating_light:

#895 Document all behaviors and associated
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/BaseBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/EventToCommandBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/ImpliedOrderGridBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/MaskedBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/CharacterType.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/CharactersValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/EmailValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/MultiValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/NumericValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/RequiredStringValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/TextDecorationFlags.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/TextValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/UriValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/documentation, housekeeping

#893 fixed csproj to produce sourcelink
  Directory.Build.props
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
  src/Markup/Xamarin.CommunityToolkit.Markup/Xamarin.CommunityToolkit.Markup.csproj
Labels: DO-NOT-MERGE, buildchain, housekeeping

#897 [Housekeeping] remove XamlCompilation from code-behind
  samples/XCT.Sample/Pages/AboutPage.xaml.cs
  samples/XCT.Sample/Pages/Behaviors/ImpliedOrderGridBehaviorPage.xaml.cs
  samples/XCT.Sample/Pages/Behaviors/MaxLengthReachedBehaviorPage.xaml.cs
  samples/XCT.Sample/Pages/Behaviors/RequiredStringValidationBehaviorPage.xaml.cs
  samples/XCT.Sample/Pages/Behaviors/UserStoppedTypingBehaviorPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/DateTimeOffsetConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Effects/EffectsGalleryPage.xaml.cs
  samples/XCT.Sample/Pages/Effects/IconTintColorEffectPage.xaml.cs
  samples/XCT.Sample/Pages/Effects/RemoveBorderEffectPage.xaml.cs
  samples/XCT.Sample/Pages/Effects/SafeAreaEffectPage.xaml.cs
  samples/XCT.Sample/Pages/Effects/SelectAllTextEffectPage.xaml.cs
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml.cs
Labels: a/sample-app, housekeeping

#854 [iOS] Remove popup arrow if anchor isn't set
  samples/XCT.Sample/Pages/Views/Popups/TransparentPopup.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/PopoverArrowDirection.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/Popup.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/PopupRenderer.ios.cs
Labels: a/popup

#352 ProgressBar Attached Property to enable progress animation
  samples/XCT.Sample/Pages/Behaviors/ProgressBarAnimationBehaviorPage.xaml
  samples/XCT.Sample/Pages/Behaviors/ProgressBarAnimationBehaviorPage.xaml.cs
  samples/XCT.Sample/ViewModels/Behaviors/BehaviorsGalleryViewModel.cs
  samples/XCT.Sample/ViewModels/Behaviors/ProgressBarAnimationBehaviorViewModel.cs
  samples/XCT.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/ProgressBarAnimationBehavior.shared.cs
Labels: a/AttachedProperties, a/behaviors

#903 Changed TabView SelectedIndex property to use TwoWay binding mode
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView, bug

#907 Add inline Docs/Comments to Converters
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/BoolToObjectConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ByteArrayToImageSourceConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/DateTimeOffsetConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/DoubleToIntConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/EqualConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IndexToArrayItemConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IntToBoolConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/InvertedBoolConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IsNotNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IsNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ItemSelectedEventArgsConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ItemTappedEventArgsConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ListIsNotNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ListIsNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ListToStringConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MultiConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MultiConverterParameter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/NotEqualConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/StateToBooleanConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseType.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TimeSpanToDoubleConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/VariableMultiValueConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/MultiBindingCondition.shared.cs
Labels: a/converters, a/documentation, housekeeping

#886 Fix camera media rotation android issue
  samples/XCT.Sample/Pages/Views/CameraViewPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/MediaCapturedEventArgs.shared.cs
Labels: a/CameraView :camera_flash:, api-change :rotating_light:, bug, p/android

#915 Fix LocalizationResourceManager.Init(ResourceManager, CultureInfo) doesn't trigger property changed
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizationResourceManagerTests/LocalizationResourceManagerTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/LocalizationResourceManager.shared.cs
Labels: a/i18n :globe_with_meridians:, bug

#923 Fix null check in the iOS FormsCameraView
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: a/CameraView :camera_flash:, bug, p/iOS

#918 Make WeakSubscribe<T>(this INotifyPropertyChanged target..) EventArgs parameter type more specific
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Extensions/INotifyPropertyChangedExtension.shared.cs
Labels: a/i18n :globe_with_meridians:

#930 Added command parameter to user stopped typing behavior
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/UserStoppedTypingBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/UserStoppedTypingBehavior.shared.cs
Labels: a/behaviors, api-change :rotating_light:

#912 [Breaking Changes] ValidationBehavior Async checks support
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/CharactersValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/EmailValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/MultiValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/NumericValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/RequiredStringValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/TextValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/UriValidationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/ValidationBehavior.shared.cs
Labels: :exclamation: Breaking Change, a/behaviors, a/validation

#674 LifeCycleEvents
  samples/XCT.Sample/Pages/Effects/LifeCycleEffectPage.xaml
  samples/XCT.Sample/Pages/Effects/LifeCycleEffectPage.xaml.cs
  samples/XCT.Sample/ViewModels/Effects/EffectsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/EffectIds.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/LifeCycle/LifeCycleEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/LifeCycle/LifeCycleEffectRouter.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/LifeCycle/LifeCycleEffectRouter.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/LifeCycle/LifeCycleEffectRouter.uwp.cs
Labels: a/effects, feature-request

#950 Don't thrown when tap/selected is null, return null. For deselect.
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ItemSelectedEventArgsConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/ItemTappedEventArgsConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ItemSelectedEventArgsConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ItemTappedEventArgsConverter.shared.cs
Labels: a/converters, bug

#946 Msbuild hotfix
  Directory.Build.props
  samples/XCT.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
  src/Directory.Build.props
Labels: housekeeping

#803 Add VisualStates to TabViewItem
  samples/XCT.Sample/Pages/Views/TabView/TabViewItemVisualStatePage.xaml
  samples/XCT.Sample/Pages/Views/TabView/TabViewItemVisualStatePage.xaml.cs
  samples/XCT.Sample/ViewModels/Views/TabViewViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabViewItem.shared.cs
Labels: a/TabView, api-change :rotating_light:, needs-documentation

#957 Merge `Grouping` classes from Refractored.MvvmHelpers
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/Grouping_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ObservableObject_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/Person.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Grouping.shared.cs
Labels: a/mvvm

#928 Ensured that observers are added only once
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: a/MediaElement, bug, p/iOS

#738 Solves [Bug] #595 Setting TabView.SelectedIndex does not "visually" switch tabs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: a/TabView, bug

#958 Fix build signing
  azure-pipelines.yml
Labels: buildchain, housekeeping

#954 Adding converter samples
  samples/XCT.Sample.iOS/Main.cs
  samples/XCT.Sample/Pages/Converters/BoolToObjectConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/BoolToObjectConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/DoubleToIntConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/DoubleToIntConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/EqualConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/EqualConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/IndexToArrayItemConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/IndexToArrayItemConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/IntToBoolConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/IntToBoolConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/InvertedBoolConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/InvertedBoolConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/IsNotNullOrEmptyConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/IsNotNullOrEmptyConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/IsNullOrEmptyConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/IsNullOrEmptyConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/ListIsNotNullOrEmptyConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/ListIsNotNullOrEmptyConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/ListToStringConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/ListToStringConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/NotEqualConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/NotEqualConverterPage.xaml.cs
  samples/XCT.Sample/Pages/Converters/TextCaseConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/TextCaseConverterPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/DoubleToIntConverterViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/IndexToArrayItemConverterViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/IntToBoolConverterViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/IsNullOrEmptyConverterViewModel.cs
Labels: a/converters, a/sample-app

#965 For WPF, Use Cross-Platform Implementation for `BaseCommand.IsMainThread` and `BaseCommand.BeginInvokeOnMainThread`
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Internals/BaseCommand.netstandard.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Internals/BaseCommand.wpf.cs
Labels: a/Commands, bug

#971 Fix Java.Lang.NoSuchMethodError in TouchEffect
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
Labels: a/TouchEffect

#982 Add null-check to prevent NRE on MediaElement for iOS
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: a/MediaElement, bug, p/iOS

#975 View is stuck in pressed state when fast click (if PressedAnimationDuration is set)
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
Labels: a/TouchEffect

#935 Refactoring: Remove redundant logic from "Not" converters
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/EqualConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IsNotNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IsNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ListIsNotNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ListIsNullOrEmptyConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/NotEqualConverter.shared.cs
Labels: a/converters, housekeeping, optimization
