Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-07, with the labels that each got.

#1437 Snackbar corner radius
  samples/XCT.Sample/Pages/Views/SnackBarPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/NativeRoundedStackView.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/NativeSnackBar.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/SnackBarLayout.uwp.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackBarAppearance.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/ActionMessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/BaseSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/iOS/SnackbarViews/MessageSnackBarView.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/Extensions/NSBesierPathExtensions.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/MacOSSnackBar.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackBarAppearance.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/ActionMessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/BaseSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/macOS/SnackbarViews/MessageSnackBarView.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/ToastOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.wpf.cs
Labels: a/Snackbar

#1465 Fixes regression TouchEffect + Button/ImageButton
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
Labels: a/TouchEffect, regression

#1467 Fixes Expander Direction regression bug
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Expander/Expander.shared.cs
Labels: a/expander, regression

#1483 Added missing using System
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/ToastOptions.shared.cs
Labels: housekeeping

#1486 Changed rulesets to reduce warning noise
  Xamarin.CommunityToolkit.ruleset
  src/CommunityToolkit/Xamarin.CommunityToolkit/AssemblyInfo/AssemblyInfo.ios.tvos.watchos.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouterBase.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/VisualElement/VisualElementExtensions.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/WPF/MediaElementRenderer.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/UWP/PopupRenderer.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Shield.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/NativeRoundedStackView.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: housekeeping

#1488 [MacOS] Added MediaElement implementation
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/MacOS/MediaElementRenderer.macos.cs
Labels: a/MediaElement, p/macOS

#1492 Fixed System.InvalidOperationException: Invalid on Color.Default (#1490)
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.android.cs
Labels: a/ShadowEffect, p/android

#1420 A11y contribution
  samples/XCT.Sample/Pages/Effects/SemanticEffectPage.xaml
  samples/XCT.Sample/Pages/Effects/SemanticEffectPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouter.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouter.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticInclusion.shared.cs
Labels: a11y

#1507 Fix touch effect for PanCakeView and similar controls
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
Labels: a/TouchEffect

#1468 Add tada animation
  samples/XCT.Sample/Pages/Behaviors/AnimationBehaviorPage.xaml
  samples/XCT.Sample/Pages/Behaviors/AnimationBehaviorPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Animations/AnimationBase.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Animations/RubberBandAnimation.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Animations/TadaAnimation.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationTypes/RubberBandAnimationType.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationTypes/TadaAnimationType.shared.cs
Labels: a/animation

#1513 Fix ObjectDisposedException in Platform Touch Effect on Android
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
Labels: a/TouchEffect

#1475 Drawing view multi line
  samples/XCT.Sample.WPF/DrawingViewRenderer.wpf.cs
  samples/XCT.Sample/Pages/Views/DrawingViewPage.xaml
  samples/XCT.Sample/Pages/Views/DrawingViewPage.xaml.cs
  samples/XCT.Sample/ViewModels/Views/DrawingViewViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Views/DrawingView_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/DrawingLineCompletedEventArgs.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/DrawingView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Extensions/Extensions.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Extensions/Extensions.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Line.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/LazyView/LazyView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/ToastOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/DrawingView, api-change :rotating_light:

#1422 [iOS | Android] TextSwitcher + [iOS] ImageSwitcher
  samples/XCT.Sample/Pages/Views/TextSwitcherPage.xaml
  samples/XCT.Sample/Pages/Views/TextSwitcherPage.xaml.cs
  samples/XCT.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
  samples/XCT.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/AlignmentExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/JavaObjectExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/TextViewExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/ViewExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Startup/ToolkitPlatform.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/BackgroundManager.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/IViewSwitcher.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/ImageSwitcher.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/ImageSwitcherRenderer.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/TextSwitcher.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/TextSwitcherRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/TextSwitcherRenderer.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/TransitionType.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/ViewSwitcher.shared.cs
Labels: a/views

#1534 Fix TouchEffect inside ScrollView
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
Labels: a/TouchEffect

#1522 [Bug] Fixed CameraView crash on FlashMode Torch
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: a/CameraView :camera_flash:, bug
