Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-04, with the labels that each got.

#1162 Fix animation behavior fires command twice
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/AnimationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Mocks/MockEventView.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationBehavior.shared.cs
Labels: a/animation, a/behaviors

#1163 Fix MultiValidationBehavior overwrites external BindingContext bindings
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/BaseBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/MultiValidationBehavior.shared.cs
Labels: a/behaviors, a/validation

#1173 Fix CI Build Errors on Build Windows Samples job
  azure-pipelines.yml
Labels: housekeeping

#1174 Update Sample App Dependencies
  samples/XCT.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  samples/XCT.Sample.GTK/Xamarin.CommunityToolkit.Sample.GTK.csproj
  samples/XCT.Sample.Tizen/Xamarin.CommunityToolkit.Sample.Tizen.csproj
  samples/XCT.Sample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  samples/XCT.Sample.WPF/Xamarin.CommunityToolkit.Sample.WPF.csproj
  samples/XCT.Sample.iOS/Xamarin.CommunityToolkit.Sample.iOS.csproj
  samples/XCT.Sample/Xamarin.CommunityToolkit.Sample.csproj
Labels: a/sample-app, housekeeping

#1140 [Tizen] Added MediaElement implementation
  samples/XCT.Sample.Tizen/Main.cs
  samples/XCT.Sample.Tizen/res/Default-Portrait.png
  samples/XCT.Sample.Tizen/res/Default.png
  samples/XCT.Sample.Tizen/res/circle.png
  samples/XCT.Sample.Tizen/res/square.png
  samples/XCT.Sample.Tizen/res/triangle.png
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/AspectToDisplayAspectModeConverter.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/EmbeddingControls.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/IntToTimeSpanConverter.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/LayoutCanvas.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/MediaElementExtensions.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/MediaElementRenderer.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/MediaPlayer.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/MediaPlayerImplementation.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Tizen/MediaPlayerInterfaces.tizen.cs
Labels: a/MediaElement, p/Tizen

#1172 Implement CompareConverter
  samples/XCT.Sample/Pages/Converters/CompareConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/CompareConverterPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/CompareConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/CompareConverter.shared.cs
Labels: a/converters

#1180 AnimationBehavior enhancements:
  samples/XCT.Sample/Pages/Behaviors/AnimationBehaviorPage.xaml
  samples/XCT.Sample/ViewModels/Behaviors/AnimationBehaviorViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/AnimationBehavior_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Mocks/MockAnimationType.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationBehavior.shared.cs
Labels: a/animation, a/behaviors

#1132 [Converter] Added StringToListConverter
  samples/XCT.Sample/Pages/Converters/StringToListConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/StringToListConverterPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/StringToListConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/StringToListConverter.shared.cs
Labels: a/converters

#1117 Math expression converter
  samples/XCT.Sample/Pages/Converters/MathExpressionConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/MathExpressionConverterPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/MathExpressionConverterViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/MathExpressionConverter_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MathExpressionConverter/MathExpression.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MathExpressionConverter/MathExpressionConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MathExpressionConverter/MathOperator.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MathExpressionConverter/MathOperatorPrecedence.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/MathExpressionConverter/MultiMathExpressionConverter.shared.cs
Labels: a/converters

#1106 Deprecate WeekSubscribe method due to high probability of misuse
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Extensions/INotifyPropertyChangedExtension.shared.cs
Labels: :exclamation: Breaking Change

#1192 SideMenuView: New types of appearance | Parallax effect | Scale factor
  samples/XCT.Sample/Pages/Views/SideMenuViewPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuAppearanceType.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
Labels: a/SideMenuView

#436 HexLayout
  samples/XCT.Sample/Pages/Views/HexLayoutPage.xaml
  samples/XCT.Sample/Pages/Views/HexLayoutPage.xaml.cs
  samples/XCT.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/HexLayout/HexLayout.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/HexLayout/HexOrientation.shared.cs
Labels: a/views, api-change :rotating_light:, retarget-required

#1212 Fix nullable regression RangeSlider crash
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BaseTemplatedView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Expander/Expander.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
Labels: a/range-slider, regression

#1250 [SideMenuView] Fix Right Menu scale factor
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
Labels: a/SideMenuView
