Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-11, with the labels that each got.

#1667 Pre Built Animations
  samples/XCT.Sample/Pages/Animations/AnimationPage.xaml
  samples/XCT.Sample/Pages/Animations/AnimationPage.xaml.cs
  samples/XCT.Sample/Pages/Behaviors/AnimationBehaviorPage.xaml
  samples/XCT.Sample/Pages/Behaviors/AnimationBehaviorPage.xaml.cs
  samples/XCT.Sample/ViewModels/Animations/AnimationViewModel.cs
  samples/XCT.Sample/ViewModels/Views/Tabs/WelcomeViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/Animations/AnimationTypes/RubberbandAnimation_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/Animations/AnimationTypes/TadaAnimation_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Behaviors/Animations/AnimationWrapper_Tests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Mocks/MockPlatformServices.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Mocks/MockView.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Xamarin.CommunityToolkit.UnitTests.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationBehavior.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationTypes/CompoundAnimationBase.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationTypes/RubberBandAnimation.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationTypes/TadaAnimation.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Animations/AnimationWrapper.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/TaskExtensions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Service/DrawingViewService.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
  src/Markup/Xamarin.CommunityToolkit.Markup.UnitTests/Xamarin.CommunityToolkit.Markup.UnitTests.csproj
Labels: a/animation

#1223 Bugfix/tabindicatorwidth
  samples/XCT.Sample/Pages/Views/TabView/TabWidthPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs
Labels: bug, a/TabView

#1728 Fix NRE for a11y semantic heading
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouter.uwp.cs
Labels: a11y

#1357 Fix DisplaySnackBarAsync Task never completes if another SnackBar appears, and completes before SnackBar action
  samples/XCT.Sample/Pages/TestCases/SnackBarActionExceptionPage.xaml
  samples/XCT.Sample/Pages/TestCases/SnackBarActionExceptionPage.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Helpers/SnackBarLayout.uwp.wpf.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/Options/ToastOptions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.netstandard.tvos.watchos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.uwp.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.wpf.cs
Labels: a/Snackbar, needs-tests

#1713 [Bug] [Fixed] #1712
  samples/XCT.Sample/Pages/Views/Popups/NoLightDismissPopup.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/UWP/PopupRenderer.uwp.cs
Labels: a/popup
