Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-01, with the labels that each got.

#712 Fixed MediaElement.Source
  samples/XCT.Sample/Pages/TestCases/MediaElementSourcePage.xaml
  samples/XCT.Sample/Pages/TestCases/MediaElementSourcePage.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Core/MediaSource.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Core/MediaSourceConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/MediaElement.shared.cs
Labels: a/Linker, a/MediaElement, bug

#715 [iOS] MediaElement ignores volume set before media start
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: a/MediaElement, p/iOS

#713 Added android in the Deploy configuration
  samples/XCT.Sample.sln
Labels: housekeeping

#728 Update Forms dependency to Forms 5 stable
  samples/XCT.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  samples/XCT.Sample.GTK/Xamarin.CommunityToolkit.Sample.GTK.csproj
  samples/XCT.Sample.UWP/Xamarin.CommunityToolkit.Sample.UWP.csproj
  samples/XCT.Sample.WPF/Xamarin.CommunityToolkit.Sample.WPF.csproj
  samples/XCT.Sample.iOS/Xamarin.CommunityToolkit.Sample.iOS.csproj
  samples/XCT.Sample/Xamarin.CommunityToolkit.Sample.csproj
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
  src/Markup/Xamarin.CommunityToolkit.Markup/Xamarin.CommunityToolkit.Markup.csproj
Labels: housekeeping

#729 Update README.md
  README.md
Labels: housekeeping

#730 Rename reduce to Normalize whitespace for TextValidationBehavior
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/TextDecorationFlags.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/Validators/TextValidationBehavior.shared.cs
Labels: a/behaviors, api-change :rotating_light:

#732 Missing Forms 5 Dependency updates
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: housekeeping

#731 Fix preview size for camera view on Androud (#723)
  samples/XCT.Sample/Pages/Views/CameraViewPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
Labels: a/CameraView :camera_flash:, bug, p/android

#734 Sample: Fix last button out of the screen
  samples/XCT.Sample/Pages/Behaviors/ImpliedOrderGridBehaviorPage.xaml
Labels: a/sample-app

#744 Fix Android TouchEffect crash
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
Labels: a/TouchEffect

#741 [iOS] TouchEffect: Implemented hover handling
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml
  samples/XCT.Sample/Pages/Effects/TouchEffectPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
Labels: a/TouchEffect

#754 Update PR template with branch info.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: housekeeping

#773 Fix style warnings in Sample app
  samples/XCT.Sample.Tizen/Main.cs
  samples/XCT.Sample.UWP/App.xaml.cs
  samples/XCT.Sample.UWP/MainPage.xaml.cs
  samples/XCT.Sample.UWP/Properties/AssemblyInfo.cs
  samples/XCT.Sample.WPF/Properties/AssemblyInfo.cs
  samples/XCT.Sample/Helpers/MarkupExtensions.cs
  samples/XCT.Sample/Pages/Behaviors/RequiredStringValidationBehaviorPage.xaml.cs
  samples/XCT.Sample/Pages/Views/UniformGridPage.xaml.cs
  samples/XCT.Sample/ViewModels/Effects/EffectsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Converters/DateTimeOffsetConverter_Tests.cs
Labels: a/sample-app, housekeeping

#775 Fixed naming convention of CaptureModeProperty
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/CameraView.shared.cs
Labels: api-change :rotating_light:

#770 Avoid users to create new instances of the LocalizationResourceManager
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizationResourceManagerTests/LocalizationResourceManagerTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/LocalizationResourceManager.shared.cs
Labels: a/i18n :globe_with_meridians:, api-change :rotating_light:, bug, ready-to-merge

#783 Fixes: The UIHoverGestureRecognizer availability starts with iOS 13
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/XCT.ios.cs
Labels: a/TouchEffect

#780 Add sample page for ListIsNullOrEmptyConvertor
  samples/XCT.Sample/Pages/Converters/ListIsNullOrEmptyPage.xaml
  samples/XCT.Sample/Pages/Converters/ListIsNullOrEmptyPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  samples/XCT.Sample/ViewModels/Converters/ListIsNullOrEmptyViewModel.cs
Labels: a/sample-app, housekeeping

#801 Enable XML Docs Generation and Add Release Notes
  Directory.Build.props
  src/CommunityToolkit/Xamarin.CommunityToolkit/Xamarin.CommunityToolkit.csproj
Labels: a/documentation, buildchain, housekeeping

#766 Deprecate LocalizationResourceManager.SetCulture
  samples/XCT.Sample/ViewModels/SettingViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizationResourceManagerTests/LocalizationResourceManagerTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/Helpers/LocalizedStringTests/LocalizedStringTests.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/LocalizationResourceManager.shared.cs
Labels: api-change :rotating_light:, retarget-required

#725 ShadowEffect
  samples/XCT.Sample/Pages/Effects/ShadowEffectPage.xaml
  samples/XCT.Sample/Pages/Effects/ShadowEffectPage.xaml.cs
  samples/XCT.Sample/ViewModels/Effects/EffectsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/EffectIds.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/ShadowEffect.shared.cs
Labels: a/effects, in-progress
