Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-12, with the labels that each got.

#1727 Implement SetSemanticFocus and Announce APIs
  samples/XCT.Sample/Pages/Extensions/SemanticExtensionsPage.xaml
  samples/XCT.Sample/Pages/Extensions/SemanticExtensionsPage.xaml.cs
  samples/XCT.Sample/ViewModels/Extensions/ExtensionsGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Semantic/SemanticExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Semantic/SemanticExtensions.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Semantic/SemanticExtensions.netstandard.macos.tvos.watchos.tizen.wpf.gtk.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Semantic/SemanticExtensions.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Semantic/SemanticExtensions.uwp.cs
Labels: a11y

#1767 Fix TouchEffect.LongPressCommand causes System.ArgumentNullException when page is popped
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
Labels: bug, a/TouchEffect

#1765 Fix for [iOS] Unable to chain display Popup calls or to display two popup simultaneously #1761
  samples/XCT.Sample/Pages/TestCases/Popups/GH_BUG_1761.xaml
  samples/XCT.Sample/Pages/TestCases/Popups/GH_BUG_1761.xaml.cs
  samples/XCT.Sample/ViewModels/TestCases/TestCasesGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/PopupOfT.shared.cs
Labels: bug, a/popup

#1680 Fixed drawing outside of DrawingView control
  samples/XCT.Sample.Android/Xamarin.CommunityToolkit.Sample.Android.csproj
  samples/XCT.Sample/Pages/Views/DrawingViewPage.xaml
  samples/XCT.Sample/Pages/Views/DrawingViewPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.android.cs
Labels: a/DrawingView
