Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-05, with the labels that each got.

#1273 [SideMenuView] Fixes after merge
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
Labels: a/SideMenuView

#1289 [ShadowEffect] Fix shadow appearance on Android button
  samples/XCT.Sample/Pages/Effects/ShadowEffectPage.xaml
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.ios.macos.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.uwp.cs
Labels: a/ShadowEffect, p/android

#1291 [TouchEffect] Fix argument null exception
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
Labels: a/TouchEffect

#1287 throw meaningful error on invalid cast
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/StateLayout/StateLayout.shared.cs
Labels: bug

#353 Color converters / extensions
  samples/XCT.Sample/Pages/Converters/ByteArrayToImageSourcePage.xaml
  samples/XCT.Sample/Pages/Converters/ColorsConverterPage.xaml
  samples/XCT.Sample/Pages/Converters/ColorsConverterPage.xaml.cs
  samples/XCT.Sample/ViewModels/Converters/ConvertersGalleryViewModel.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/BaseConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/BaseConverterOneWay.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ColorToColorConverters.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ColorToComponentConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/ColorToStringConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/ColorExtension.shared.cs
Labels: a/converters, needs-sample, takeover

#1300 merge main -> dev
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/BaseConverter.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/BaseConverterOneWay.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BaseTemplatedView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
Labels: housekeeping

#1302 [Android] Fix "ShadowEffect's shadow doesn't follow button's perimeter"
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.android.cs
Labels: a/ShadowEffect, p/android

#1258 CameraView Video Recording Fix raising events with empty file on Android
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/Android/CameraFragment.android.cs
Labels: a/CameraView :camera_flash:, p/android
