Repository xamarin/XamarinCommunityToolkit, pull requests merged in 2021-08, with the labels that each got.

#1559 Consolidate our XCT platform class
  samples/XCT.Sample.Android/MainActivity.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouter.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Shadow/PlatformShadowEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/StatusBar/BarStyle.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Navigation/NavigationExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/ViewExtensions.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/XCT.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/XCT.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Internals/BaseCommand.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/ImageSourceValidator.android.ios.macos.uwp.wpf.gtk.tizen.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/RangeSlider/ThumbFrame.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SideMenuView/SideMenuView.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/ViewSwitcher/TextSwitcherRenderer.android.cs
Labels: housekeeping

#1558 Fix TouchEffect + Command.CanExecute
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs
Labels: a/TouchEffect

#1570 Added Speed Property to mediaelement
  samples/XCT.Sample/Pages/Views/MediaElementPage.xaml
  samples/XCT.Sample/Pages/Views/MediaElementPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/MediaElement.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs
Labels: needs-documentation, api-change :rotating_light:, a/MediaElement

#1563 [CameraView] [iOS] Flash does not work fix
  samples/XCT.Sample/Pages/Views/CameraViewPage.xaml
  samples/XCT.Sample/Pages/Views/CameraViewPage.xaml.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/CameraViewRenderer.ios.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsCameraView.ios.cs
Labels: bug, p/iOS, a/CameraView :camera_flash:

#1600 [Android] Fix TouchEffect issues
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs
  src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs
Labels: a/TouchEffect
